.purchase_success {
    padding-bottom: 50px;

    .navigate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        padding: 20px 24px 0 24px;
        top: 0px;
        background-color: #f5f5ed;
        z-index: 10;

        .back {
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        .nav_name {
            display: flex;
            align-items: center;

            .userportrait {
                display: block;
                width: 40px;
                height: 40px;
                margin-right: 12px;
            }

            .name {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                color: #000;
            }

            .label {
                display: block;
                width: 16px;
                height: 16px;
            }
        }
    }

    .success {
        margin: 32px 0 40px 0;
        text-align: center;

        .success_title {
            font-family: 'DINCond-Bold';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: #000;
        }

        .success_infor {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            font-size: 16px;

            span {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #3370ff;
                cursor: pointer;
            }
        }
    }

    .details_cont {
        padding: 0 24px;

        .sorry {
            display: block;
            width: 160px;
            height: 160px;
            margin: 0 auto;
        }

        .shapset_but {
            box-sizing: border-box;
            margin-top: 100px;

            button {
                position: relative;

                &:active {
                    opacity: 0.8;
                }

                &.disabled {
                    background-color: #F1F1E7;
                    color: #c4c4be;
                    border: 2px solid #c4c4be;
                }

                display: block;
                width: 100%;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 26px;
                gap: 10px;
                width: 342px;
                height: 40px;
                background: #FFFFFF;
                text-transform: uppercase;
                border: 2px solid #000000;
                border-radius: 45px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #000;
            }

            .check_infors {
                margin-top: 20px;
                font-family: 'Inter';
                color: #62625F;
                line-height: 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
            }
        }
    }
}