.eventDetails {
    padding: 20px 24px 0 24px;

    .layout {
        display: flex;

        .back,
        .empty {
            display: block;
            width: 16px;
            height: 16px;
            margin-left: 10px;
        }

        .back {
            cursor: pointer;
        }
    }

    .navigate {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        top: 0px;
        z-index: 9;
        margin-bottom: 18px;

        .label {
            display: block;
            width: 16px;
            height: 16px;
        }

        .nav_name {
            display: flex;
            align-items: center;

            .userportrait {
                display: block;
                width: 40px;
                height: 40px;
                margin-right: 12px;
            }

            .name {
                text-transform: uppercase;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: #000;
            }

            .label {
                display: block;
                width: 16px;
                height: 16px;
            }
        }

        .operate {
            display: flex;

            .collect,
            .label {
                display: block;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }

            .label {
                margin-left: 10px;
            }
        }
    }

    .banner {
        width: 100%;
    }

    .detail {
        .title {
            font-family: Inter;
            font-weight: 700;
            color: #000;
            font-size: 22px;
            margin-top: 7px;
        }

        .time {
            margin-top: 7px;
        }

        .desc {
            margin-top: 7px;
        }
    }
}