.eventDetails {
    padding: 20px 24px 180px 24px;

    .tabbar {
        z-index: 1;
    }

    .fw500 {
        font-weight: 500;
    }

    .layout {
        display: flex;

        .back,
        .empty {
            display: block;
            width: 16px;
            height: 16px;
        }

        .empty {
            margin-left: 10px;
        }

        .back {
            cursor: pointer;
        }
    }

    .navigate {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        top: 0px;
        z-index: 9;
        margin-bottom: 18px;

        .nav_name {
            display: flex;
            align-items: center;

            .userportrait {
                display: block;
                width: 40px;
                height: 40px;
                margin-right: 12px;
            }

            .name {
                text-transform: uppercase;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: #000;
            }

        }

        .operate {
            display: flex;

            .collect,
            .labelEvent {
                display: block;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }

            .labelEvent {
                margin-left: 10px;
            }
        }
    }

    .banner {
        width: 100%;
    }

    .title {
        font-family: Inter;
        font-weight: 700;
        color: #000;
        font-size: 22px;
        margin-top: 7px;
    }

    .detail {


        .time {
            margin-top: 7px;
        }

        .desc {
            margin-top: 7px;
        }
    }

    .map {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #DFDFCE;
        background-color: #fff;
        padding: 16px;

        // 隐藏谷歌地图右下角工具栏
        .gm-style-cc {
            display: none !important;
        }

        .mapHeader {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .desc {
                width: 270px;
            }

            .copyAddress {

                img {
                    cursor: pointer;
                    display: block;
                    width: 16px;
                    height: 16px;
                }

            }
        }

        #mapBox {
            width: 100%;
            height: 135px;
        }
    }

    .info {
        margin-top: 20px;

        .detail {
            line-height: 20px;
        }
    }

    // 按钮
    .footerBtn {
        border-radius: 45px;
        border: 2px solid #000;
        position: relative;
        margin-top: 20px;

        .btn {
            text-transform: uppercase;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            background-color: #fff;
            border-radius: 45px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;

            .earn_diamond {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 8px 5px 8px;
                width: 75px;
                height: 25px;
                background-color: #5cd685;
                border-radius: 28px;
                top: -15px;
                right: 0;
                border: 2px solid #000;

                img {
                    width: 12px;
                    height: 12px;
                }

                span {
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 0em;
                }
            }
        }
    }

    // 按钮在 /(phone|pod|iPhone|iPod|ios|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/的情况下悬浮
    .suspension {
        position: fixed;
        bottom: 100px;
        width: calc(100% - 48px);
    }

    // 弹窗
    .van-dialog {
        background-color: #f5f5ed;
        padding: 40px 24px 40px 24px;

        .introduce {
            text-align: center;

            .title {
                font-size: 40px;
                text-transform: uppercase;
                font-family: DINCond-Bold;
                font-weight: 500;
                letter-spacing: -0.02em;
            }

            .detail {
                font-family: Inter;
                font-weight: 600;
                margin-top: 10px;
                font-size: 16px;
            }

            .vsImg {
                margin-top: 20px;
                width: 116px;
                height: 112px;
            }

            .setBut {
                margin-top: 20px;

                button {
                    display: block;
                    width: 100%;
                    padding: 8px 26px;
                    border-radius: 45px;
                    border: 2px solid #000;
                    background: #fff;
                    color: #000;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    cursor: pointer;

                    &.backBtn {
                        margin-top: 20px;
                    }



                }
            }
        }

    }

}