.home {
    padding-bottom: 120px;

    .user_infor {
        padding: 30px 24px 40px 24px;
        background-color: #fff;

        .set_top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .set_right {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                cursor: pointer;

                .label {
                    display: block;
                    width: 17.5px;
                    height: 16.25px;
                    margin-right: 22px;
                }

                .set {
                    width: 18.75px;
                    height: 18.75px;
                }
            }
        }

        .userinfo {
            display: flex;
            align-items: center;

            .portrait {
                display: block;
                object-fit: cover;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 16px;
                border: 2px solid #000;
                cursor: pointer;
            }

            .nameAddres {
                flex: 1;

                .name {
                    width: 230px;
                    font-family: "Inter";
                    font-weight: 700;
                    color: #000;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 20px;
                    margin-bottom: 12px;
                }

                .address {
                    display: flex;
                    align-items: center;
                    background-color: #F5F5ED;
                    border-radius: 8px;
                    height: 28px;
                    line-height: 28px;
                    width: 143px;
                    cursor: pointer;

                    span {
                        font-family: "Inter";
                        font-weight: 500;
                        font-size: 14px;
                        color: #000;
                        opacity: 0.6;
                    }

                    img {
                        display: block;
                        width: 16px;
                        height: auto;
                        object-fit: cover;
                        margin: 0 10px;
                        cursor: pointer;
                    }
                }
            }
        }

        .bio {
            margin: 16px 0;
            color: #000;
            font-family: "Inter";
            font-size: 15px;
            font-weight: 500;
            line-height: 150%;
            word-break: break-word;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            /* 超出几行省略 */
        }

        .noBio {
            opacity: .5;
            text-indent: 15px;
            cursor: pointer;
        }

        // label
        .label_cont {
            border-bottom: 2px solid #f5f5ed;
            padding-bottom: 20px;
            margin: 0 0 20px 0;

            .label_left {
                display: flex;
                align-items: center;

                .svgName1 {
                    width: 78px !important;
                    height: 24px !important;
                }

                .svgName2 {
                    width: 75px !important;
                    height: 24px !important;
                }

                .svgName3 {
                    width: 50px !important;
                    height: 24px !important;
                }

                .svgName4 {
                    width: 94px !important;
                    height: 24px !important;
                }

                .svgName5 {
                    width: 54.5px !important;
                    height: 24px !important;
                }

                .svgName6 {
                    width: 52px !important;
                    height: 24px !important;
                }

                .svgName7 {
                    width: 53px !important;
                    height: 24px !important;
                }

                .svgName8 {
                    width: 40px !important;
                    height: 24px !important;
                }

                .svgName9 {
                    width: 96px !important;
                    height: 24px !important;
                }

                .svgName10 {
                    width: 40px !important;
                    height: 24px !important;
                }

                .svgName11 {
                    width: 68px !important;
                    height: 24px !important;
                }

                .svgName12 {
                    width: 88px !important;
                    height: 24px !important;
                }
            }

            .edit {
                display: block;
                width: 20px;
                height: auto;
                cursor: pointer;
            }
        }

        // Calculate points
        .Calculate {
            position: relative;
            // padding-bottom: 20px;
            // border-bottom: 2px solid #F5F5ED;
            padding-top: 70px;
            z-index: 1;

            //  未走算分流程从活动进入时 
           

            .noScore {
                opacity: .9;
                position: absolute;
                top: 0;
                left: -10px;
                width: calc(100% + 20px);
                height: calc(100% - 60px);
                background-color: #fff;
                z-index: 999;
                text-align: center;
                text-transform: uppercase;

                .role {
                    margin-top: 60px;
                    font-family: DINCond-Bold;
                    font-size: 60px;
                    font-weight: 500;
                    letter-spacing: -0.02em;
                }



                .reveal {
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 8px 26px;
                    margin-top: 80px;
                    width: calc(100% - 60px);
                    border: 2px solid #000;
                    border-radius: 45px;
                    text-transform: uppercase;
                    background-color: #fff;
                    cursor: pointer;
                }
            }

            // 走完算分流程
            .soul {
                cursor: pointer;
                top: 0;
                left: 0;
                position: absolute;
                text-transform: uppercase;

                span {
                    font-family: DINCond-Bold;
                    font-size: 32px;
                    font-weight: 500;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #000000;
                    z-index: 2;
                    position: relative;
                }

                img {
                    bottom: 0;
                    left: -4px;
                    height: 11px;
                    width: 105%;
                    z-index: 1;
                    position: absolute;
                }
            }

            .Update {
                border-radius: 8px;
                background: #f5f5ed;
                display: flex;
                align-items: center;
                color: #000;
                font-family: "Inter";
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 4px 8px;
                border: none;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;

                &:active {
                    opacity: 0.6;
                }

                img {
                    display: block;
                    margin-right: 8px;
                    width: 16px;
                    height: 16px;
                }
            }

            img {
                display: block;
                width: 248px;
                height: 271.34px;
                margin: 0 auto;
                object-fit: cover;
            }

            .rank_cont {
                padding: 0 25px;
                margin-top: 36px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .rank_list {
                    position: relative;

                    text-align: center;
                    cursor: pointer;

                    .connectActive {
                        position: absolute;
                        right: -8px;
                        bottom: 4px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: red;
                    }

                    .value {
                        font-family: Inter;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29px;
                        letter-spacing: -0.01em;
                        text-align: center;
                        color: #f3b228;
                    }

                    .key {
                        font-family: "Inter";
                        font-weight: 600;
                        font-size: 12px;
                        color: #000000;
                        text-transform: uppercase;
                        position: relative;

                        .redPoint {
                            position: absolute;
                            right: -8px;
                            top: 4px;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: #d90000;
                        }
                    }
                }
            }

            .invite_friend {
                position: relative;
                margin-top: 20px;
                text-transform: uppercase;
                font-family: Inter;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0em;
                text-align: center;
                background-color: #f5f5ed;
                border-radius: 45px;
                height: 40px;
                line-height: 40px;
                cursor: pointer;

                .earn_diamond {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 8px 5px 8px;
                    width: 75px;
                    height: 25px;
                    background-color: #5cd685;
                    border-radius: 28px;
                    top: -10px;
                    right: 0;
                    border: 2px solid #000;

                    img {
                        width: 12px;
                        height: 12px;
                    }

                    span {
                        font-family: Inter;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 15px;
                        letter-spacing: 0em;
                    }
                }
            }
        }
    }

    .TabCont {
        display: flex;
        align-items: center;
        padding: 0 24px;
        margin: 40px 0 26.5px 0;

        .Tab_list {
            margin-right: 24px;
            height: 19px;
            font-family: "Inter";
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #7b7b77;
            text-transform: uppercase;
            cursor: pointer;

            &.Tab_list_Active {
                font-weight: 900;
                font-size: 20px;
                color: #000;
            }
        }
    }

    .set_but {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        cursor: pointer;

        button {
            text-transform: uppercase;

            &:active {
                opacity: 0.8;
            }

            &.Cancel {
                border: 2px solid #000;
                background: #f5f5ed;
                color: #000;
            }

            &.disabled {
                background-color: #f1f1e7;
                color: #c4c4be;
                border: 2px solid #c4c4be;
            }

            cursor: pointer;
            display: block;
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 26px;
            gap: 10px;
            width: 342px;
            height: 40px;
            background: #ffffff;
            border: 2px solid #000000;
            border-radius: 45px;
            font-family: "Inter";
            font-weight: 700;
            font-size: 18px;
            color: #000;
        }
    }

    // NFT List
    .nft_cont {
        padding: 0 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;

        .nft_list {
            background: #f5f5ed;
            border: 1px solid #dfdfce;
            cursor: pointer;

            .img_cont {
                // width: 163px;
                // height: 163px;
                background: #f5f5ed;
                border: 2px solid #dfdfce;
                position: relative;

                .nftUrl {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .subtract {
                    position: absolute;
                    left: 12px;
                    top: 12px;
                    display: block;
                    width: 16px;
                    height: 16px;
                }

                .point {
                    position: absolute;
                    right: 13.5px;
                    top: 15.5px;
                    display: flex;
                    align-items: center;

                    span {
                        display: inline-block;
                        margin-left: 2px;
                        background-color: #000;
                        border-radius: 50%;
                        width: 4.5px;
                        height: 4.5px;
                    }
                }
            }

            .nft_infor {
                padding: 10px 12px;

                .top_name_price {
                    display: flex;
                    align-items: center;

                    .name {
                        color: #7b7b77;
                        display: inline-block;
                        font-family: "Inter";
                        font-weight: 500;
                        font-size: 10px;
                        margin-right: 4px;
                    }

                    .price {
                        font-family: "Inter";
                        font-weight: 700;
                        font-size: 14px;
                        color: #000;
                    }
                }

                .flow_id {
                    margin: 8px 0 14px 0;
                    display: flex;
                    align-items: center;

                    .flow {
                        display: inline-block;
                        margin: 0 8px 0 6px;
                        font-family: "Inter";
                        font-weight: 600;
                        font-size: 12px;
                        color: #000;
                    }

                    .flow_lin {
                        font-family: "Inter";
                        font-weight: 600;
                        font-size: 12px;
                        color: #000;
                    }

                    img {
                        display: block;
                        width: 13px;
                        object-fit: cover;
                    }
                }

                .Listing {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 8px;

                    span {
                        display: inline-block;
                        font-family: "Inter";
                        font-weight: 500;
                        font-size: 10px;
                        color: #7b7b77;

                        &:nth-child(1) {
                            margin-right: 25px;
                        }
                    }
                }

                .price_botm {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-family: "Inter";
                        font-weight: 600;
                        font-size: 12px;
                        color: rgb(98, 98, 95);
                    }
                }
            }

            .Launching {
                width: 100%;
                height: 20px;

                .LaunchingData {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #dfdfce;

                    span {
                        color: #595952;
                        font-family: "Inter";
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .Save {
        margin-top: 10%;

        img {
            display: block;
            width: 160px;
            height: 160px;
            margin: 0 auto 32px auto;
        }

        .SaveText {
            color: #000;
            text-align: center;
            font-family: DINCond-Bold;
            font-size: 40px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    // 弹窗
    .introduce {
        text-align: center;

        p {
            font-size: 16px;
        }

        .setBut {
            margin-top: 30px;

            button {
                cursor: pointer;
                width: 100%;
                padding: 8px 26px;
                border-radius: 45px;
                border: 2px solid #000;
                background: #fff;
                color: #000;
                font-family: Inter;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                /* 133.333% */
                text-transform: uppercase;

                &:nth-child(2) {
                    margin-top: 20px;
                }
            }
        }
    }

    .ovrlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}