.purchase_success {
    padding-bottom: 50px;

    .navigate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        padding: 20px 24px 0 24px;
        top: 0px;
        background-color: #f5f5ed;
        z-index: 10;

        .back {
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        .nav_name {
            display: flex;
            align-items: center;

            .userportrait {
                display: block;
                width: 40px;
                height: 40px;
                margin-right: 12px;
            }

            .name {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                color: #000;
            }

            .label {
                display: block;
                width: 16px;
                height: 16px;
            }
        }
    }

    .success {
        margin: 32px 0 40px 0;
        text-align: center;

        .success_title {
            font-family: 'DINCond-Bold';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: #000;
        }

        .success_infor {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            font-size: 16px;
        }
    }

    .details_cont {
        padding: 0 24px;

        .Nft_details {
            .box {
                position: relative;
                width: 272px;
                height: 365px;
                margin: 0 auto;

                .img_icon {
                    width: 272px;
                    height: 365px;
                    margin: 0 auto;
                    position: absolute;
                    background-color: #f5f5ed;

                    img {
                        width: 100%;
                    }

                    .match {
                        position: absolute;
                        right: -25px;
                        top: 10px;
                        text-align: right;
                        transition: 0.5s ease-in-out;

                        &.matchs {
                            right: 30px;
                        }

                        .center {
                            font-family: 'DINCond-Bold';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 50px;
                        }

                        .name {
                            font-family: 'DINCond-Bold';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .bottom_infor {
                position: relative;
                width: 350px;
                height: 144px;
                margin: -40px auto 0 auto;
                background-size: 100% 100%;

                .svgName {
                    width: 100%;
                    height: 100%;
                }

                .grade_price {
                    position: absolute;
                    top: 20px;
                    left: 0;

                    .grade {
                        display: flex;
                        align-items: center;

                        img {
                            display: block;
                            width: 21px;
                            margin-right: 6px;
                            object-fit: cover;
                        }

                        .grade_name {
                            font-family: 'DINCond-Bold';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            text-transform: uppercase;
                            color: #000000;
                        }

                        .Personality_name {
                            margin-left: 12px;
                            font-family: 'DINCond-Bold';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            text-transform: uppercase;
                            color: #000000;
                        }
                    }

                    .price {
                        font-family: 'DINCond-Bold';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 54px;
                        text-transform: uppercase;
                    }
                }

                .turn {
                    position: absolute;
                    right: 5px;
                    top: 20px;
                    cursor: pointer;
                    img {
                        display: block;
                        width: 24px;
                        height: auto;
                    }
                }

                .love {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                    font-family: 'DINCond-Bold';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    text-transform: uppercase;

                    img {
                        display: block;
                        width: 21px;
                        margin-right: 6px;
                        margin-top: 3px;
                    }
                }
            }
        }

        // label
        .label_cont {
            position: relative;
            top: -20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .label_left {
                display: flex;
                align-items: center;

                .label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;

                    
                    &.label1 {
                        width: 82px;
                        height: 24.5px;
                        background-image: url("../../assets/label1.png");
                        background-size: 100% 100%;
                    }

                    &.label2 {
                        width: 75px;
                        height: 24px;
                        background-image: url("../../assets/label2.png");
                        background-size: 100% 100%;
                    }

                    &.label3 {
                        width:80px;
                        height: 24px;
                        background-image: url("../../assets/label3.png");
                        background-size: 100% 100%;
                    }
                }
            }
        }

        .myNft {
            display: block;
            width: 342px;
            margin: 0 auto;
        }

        .author {
            margin: 20px 0 44px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0px 10px;

            .author_list {
                border: 2px solid #DFDFCE;
                padding: 20px 15px 25px 15px;
                cursor: pointer;
                .portrait {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;

                    .portrait1 {
                        display: block;
                        width: 36px;
                        height: 36px;
                    }

                    .chat_link {
                        display: block;
                        width: 20px;
                        height: 20px;
                    }
                }

                .Created {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    color: #000000;
                    margin-bottom: 10px;
                }

                .name {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }

        .shapset_but {
            box-sizing: border-box;
            margin-top: 60px;

            button {
                position: relative;

                &:active {
                    opacity: 0.8;
                }

                &.disabled {
                    background-color: #F1F1E7;
                    color: #c4c4be;
                    border: 2px solid #c4c4be;
                }

                display: block;
                width: 100%;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 26px;
                gap: 10px;
                width: 342px;
                height: 40px;
                background: #FFFFFF;
                text-transform: uppercase;
                border: 2px solid #000000;
                border-radius: 45px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #000;
            }
        }
    }
}