.welcome_twitter {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 90px 24px 50px 24px;
    position: relative;

    .title {
        font-family: 'DINCond-Bold';
        font-style: normal;
        font-weight: 500;
        font-size: 65px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
    }

    .title_infor {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        text-align: center;
        margin: 10px 0 20px 0;
    }

    .userportrait {
        margin-top: 50px;

        .userportrait {
            object-fit: cover;
            display: block;
            width: 140px;
            height: 140px;
            margin: 0 auto 24px auto;
            border-radius: 50%;
            border: 2px solid #000;
        }

        .humphry {
            font-family: 'DINCond-Bold';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            color: #000;
            text-align: center;
            position: relative;
            z-index: 9;
        }

        .con_lin {
            display: block;
            width: 150px;
            height: 16px;
            position: relative;
            top: -20px;
            margin: 0 auto;
        }
    }

    .cudset_but {
        width: 100%;
        box-sizing: border-box;
        z-index: 99;

        button {
            &:active {
                opacity: 0.8;
            }

            &.disabled {
                background-color: #F1F1E7;
                color: #c4c4be;
                border: 2px solid #c4c4be;
            }

            display: block;
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 26px;
            gap: 10px;
            width: 342px;
            height: 40px;
            background: #FFFFFF;
            border: 2px solid #000000;
            border-radius: 45px;
            font-family: 'Inter';
            font-style: normal;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            color: #000;
        }

        .skip {
            color: #000;
            text-align: center;
            font-size: 12px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            margin-top: 20px;

            span {
                color: #F3B228;
            }
        }
    }

    .hide {
        visibility: hidden;
    }

    .my_soul {
        position: absolute;
        bottom: 50px;
        padding: 0px 24px;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
    }

}