.congr {
    padding: 90px 24px 50px 24px;

    .title {
        color: #000;
        text-align: center;
        font-family: DINCond-Bold;
        font-size: 70px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -1.4px;
        text-transform: uppercase;
    }

    .title_infor {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        text-align: center;
        margin: 13px auto 4px;
        width: 279px;
        &.text{
            margin-top: 0;
            margin-bottom: 35px;
        }
    }

    .Web3_soul {
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .title_info {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        
        .sbti_name {
            position: relative;
            text-align: center;

            margin-bottom: 17px;
            span {
                color: #000;
                font-family: DINCond-Bold;
                font-size: 44px;
                font-style: normal;
                font-weight: 500;
                /* 44px */
                letter-spacing: -0.88px;
                text-transform: uppercase;
            }
            img {
                bottom: 0px;
                left: -4px;
                height: 11px;
                width: 105%;
                z-index: -1;
                position: absolute;
            }
        }
    }

    .mark {
        display: block;
        width: 248px;
        margin: 80px auto;
    }

    .cudset_but {
        box-sizing: border-box;
        margin-top: 60px;

        button {
            cursor: pointer;
            position: relative;

            &:active {
                opacity: 0.8;
            }

            &.disabled {
                background-color: #f1f1e7;
                color: #c4c4be;
                border: 2px solid #c4c4be;
            }

            &.Cancel {
                border: 2px solid #000;
                background: #dfdece;
                color: #000;
            }

            .FREE {
                box-sizing: border-box;
                position: absolute;
                width: 70px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                right: 0;
                top: -12.5px;
                background: #5cd685;
                border: 2px solid #000000;
                border-radius: 28px;
            }

            display: block;
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 26px;
            gap: 10px;
            width: 342px;
            height: 40px;
            background: #ffffff;
            text-transform: uppercase;
            border: 2px solid #000000;
            border-radius: 45px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            color: #000;
        }

        .skip {
            color: #000;
            text-align: center;
            font-size: 12px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            margin-top: 20px;
            cursor: pointer;
            span {
                color: #f3b228;
            }
        }
    }
}
